.project {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
    height: 300px;
    width:200px;

    background-color: #111;
    color:white;

    padding-left: 10px;
    padding-right: 10px;
}
.project-language {
    background-color: #912;
    color:black;

    border-radius: 2.5px;

    padding: 5px;
}
@media (max-width:700px) {
    .project {
        margin: 10px 0px 10px 0px;
    }
}