button {
    width: max-content;
    height: max-content;

    padding: 10px;

    border: none;
    border-radius: 2.5px;

    background-color: #222;
    color:white;
}
button:hover {
    cursor: pointer;   
}