b {
    color: #912;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fdeeee;

    position: fixed;

    border-radius: 0 0 5px 0;

    width: min-content;
    height: min-content;

}
.title {
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height:64px;
    width:64px;
}
@media (max-width:700px) {
    .header {
        position:static;
        border-radius: 0;
        width: 100%;
    }
} 