body {
  background-color: #333;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 10px 0;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
@media (max-width:700px) {
  .projects {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction:column;
    margin: 10px 0;
  }
}
@media (max-width:850px) {
  .welcome_title {
    text-align: center;
    width: 55%;
  }
} 